{{> head }}
{{> navbar }}
<div class="row">

    <div class="col-8">
        <h1>Capitán América</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam praesentium id, voluptate dolorum architecto est quasi, doloremque molestiae expedita officia illo. Et repellat enim aliquid earum eaque nisi nemo sint?
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/img_apple.png" class="img-thumbnail">
    </div>

</div>
{{> footer }}